/*
 * GlobL
 ***************************************/
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src: local('PT Sans'), local('PTSans-Regular'), url(PTSans.woff) format('woff');
}

body {
	/* background-image: url(../img/004.png); */
	font-family: 'PT Sans', sans-serif, Arial;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	height: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.command-module {
	max-width: 1440px;
	min-width: 1024px;
	min-height: 100%;
	margin: 0 auto;
	padding: 0;
	border: 0;
	position: relative;
}

.hidden {
	display: none !important;
}

.clear {
	clear: both;
}

/*
 * Header
 ***************************************/
/* .header {
	width: 900px;
	height: 70px;
	background: url(../img/icon.png) 30px 0px no-repeat;
	background-size: 60px 60px;
} */

/*
 * Sidebar
 ***************************************/
.navbar {
	position: fixed;
	top: 0px;
	bottom: 0;
}

.nav_panel {
	background-color: #333;
	width: 180px;
	min-height: 100%;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.section {
	margin: 20px 0 0 40px;
}

.logo {
	display: block;
	width: 180px;
	height: 100px;
	margin: 0 0 2px 0;
	background-color: orange;
	opacity: 0.9;
	background-image: url(../img/icon.png);
	background-repeat: no-repeat;
	background-position: -30px -20px;
	background-size: 150px 150px;
}

.title-string {
	display: block;
	padding: 65px 0 0 80px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 2px black ;
}

.posts {
	width: 180px;
	height: 70px;
	margin: 0px 0 2px 0;
	background-color: #888;
	background-image: url(../img/grid.png);
	background-repeat: no-repeat;
	background-position: 70px 20px;
	background-size: 30px 30px;
}

.posts:hover {
	width: 180px;
	height: 70px;
	margin: 2px 0 2px 0;
	background-color: #999;
	background-image: url(../img/grid.png);
	background-repeat: no-repeat;
	background-position: 70px 20px;
	background-size: 30px 30px;
}

.profile {
	width: 180px;
	height: 70px;
	margin: 0 0 2px 0;
	background-color: #888;
	background-image: url(../img/user.png);
	background-repeat: no-repeat;
	background-position: 70px 20px;
	background-size: 30px 30px;
}

.enter {
	width: 180px;
	height: 70px;
	margin: 2px 0 2px 0;
	background-color: #888;
	background-image: url(../img/smashing.png);
	background-repeat: no-repeat;
	background-position: 70px 20px;
	background-size: 30px 30px;
}

.profile:hover {
	width: 180px;
	height: 70px;
	margin: 2px 0 2px 0;
	background-color: #999;
	background-image: url(../img/user.png);
	background-repeat: no-repeat;
	background-position: 70px 20px;
	background-size: 30px 30px;
}

.open_profile {
	width: 180px;
	height: 100px;
	margin: 2px 0 2px 0;
	background-color: #888;
}

.sign_in {
	width: 180px;
	height: 100px;
	margin: 2px 0 2px 0;
	background-color: #888;
}

.add_post {
	width: 180px;
	height: 70px;
	margin: 0px 0 2px 0;
	background-color: #888;
	background-image: url(../img/plus.png);
	background-repeat: no-repeat;
	background-position: 70px 20px;
	background-size: 30px 30px;
}

.add_post:hover {
	width: 185px;
	height: 70px;
	margin: 3px 0 2px 0;
	background-color: #999;
	background-image: url(../img/plus.png);
	background-repeat: no-repeat;
	background-position: 70px 20px;
	background-size: 30px 30px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.home {
	width: 180px;
	height: 70px;
	margin: 0px 0 2px 0;
	background-color: #888;
	background-image: url(../img/arrow2.png);
	background-repeat: no-repeat;
	background-position: 70px 20px;
	background-size: 30px 30px;
}

.home:hover {
	width: 180px;
	height: 70px;
	margin: 2px 0 2px 0;
	background-color: #999;
	background-image: url(../img/arrow2.png);
	background-repeat: no-repeat;
	background-position: 70px 20px;
	background-size: 30px 30px;
}


/* .nav_panel ul {
	padding: 0;
	list-style: none;
}

.nav_panel li {
	margin: 10px 0 20px 0;
} */

.section ul {
	margin: 0 0 0 10px;
	width: 150px;
	display: none;
}

.section li:hover ul {
	width: 150px;
	display: block;
}

.nav_panel a {
	text-decoration: none;
	color: white;
}

/*
 * Content
 **********************************************************************************************************/
.inner {
	min-height: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0 24px 0 210px;
	padding-top: 12px;
}

.page_head {
	padding-top: 1px;
	padding-bottom: 6px;
	font-size: 35px;
	color: #444;
	font-family: Verdana,sans-serif;
}

/*
 * Content_left
 ***************************************/

.content_left {
	float: left;
	padding-right: 250px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.content_left .menu {
	width: 50%;
	margin-top: 7px;
	margin-bottom: -15px;
	background-color: orange;
	opacity: .88;
	color: #333;
}

.dividing_line {
	width: 30%;
	margin-right: 70%;
	opacity: .2;
}

.post {
	/* display: block; */
	margin: 40px 0 0 0;
	min-height: 250px;
	overflow: hidden;
}

.active-post {
	height: auto;
}

.title-line {
	margin: 0;
	font-size: 1.5em;
	text-align: left;
	color: #333;
}

.title-line a {
	color: #444;
}

.date {
	font-size: 12px;
	color: #888;
}

.date:before {
	content: "Добавлено: ";
	font-size: 13px;
	font-weight: bold;
	color: #888;
}

.category {
	font-size: 14px;
	font-weight: bold;
	opacity: .6;
	color: green;
	margin: 0px 0 0 0;
}

.category:before {
	content: url(../img/world.png);
	padding-right: 5px;
	position: relative;
	top: 4px;
}

.read-full {
	font-size: 13px;
	font-weight: bold;
	color: #777;
}
.read-full:hover {
	cursor: pointer;
	color: orange;
}

.read-full:after {
	content: url(../img/right.png);
	padding-left: 5px;
	position: relative;
	top: 5px;
}

.content {
	font-size: 1em;
	margin: 15px;
	/*height: 120px;*/
	/* overflow: hidden; */
}

/*
 * Sidebar_right
 ***************************************/

.sidebar_right {
	position: relative;
	padding-top: 30px;
	float: left;
	width: 240px;
	margin-left: -240px;
}

.block {
	font-family: tahoma,arial;
	padding: 15px 20px;
	height: 200px;
	margin-bottom: 20px;
	/* background: #f2f2f2; */
	background-color: orange;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	opacity: .9;
}

.block_title {
	color: #444;
	margin-bottom: 20px;
	font-size: 19px;
	letter-spacing: -1px;
	font-family: Verdana,sans-serif;
}

.block_posts_list {

}

.block_post_item {
	margin-bottom: 10px;
	clear: both;
	font-size: 13px;
	line-height: 18px;
}

.block_post_item a {
	color: #444;
}

.next_prev {
	overflow: hidden;
	padding-top: 50px;
}

.page_nav .next_prev li {
	float: left;
	margin-right: 15px;
}

.page_nav #nav_pages {
	clear: left;
	overflow: hidden;
}

.page_nav #nav_pages li {
	float: left;
	margin-right: 5px;
}

/*
 * Footer
 ***************************************/

.footer_panel {
	margin: 40px -30px 0 -30px;
	height: 100px;
	padding: 10px;
	background-color: #bbb;
}

.footer {

}

/*
 * New Article
 ***************************************************************************************************/
.addArticle {
	display: block;
	margin: 35px 0 0 30px;
}

.saveArticle {
	margin: 5px 0 0 470px;
}

.publish {
	display: block;
	margin: 35px 0 0 25px;
}

.posts {
	width: 180px;
	height: 70px;
	margin: 0px 0 2px 0;
	background-color: #888;
	background-image: url(../img/grid.png);
	background-repeat: no-repeat;
	background-position: 70px 20px;
	background-size: 30px 30px;
}

.new_title_line {
	margin: 30px 0 20px 50px;
}

.new_information {
	display: inline-block;
	width: 600px;
	height: 30px;
	text-align: center;
	line-height: 1em;
	border-top: 1px solid #444;
	background-color: #555;
}

.new_information textarea {
	margin: 3px 0 0 0;
}

/*
 * Registration page
 ***************************************/

.table_registration li {
	list-style-type: none;
}

.post hr {
	width: 90%;
	opacity: .3;
}

#button_reg {
	margin: 30px 0 0 40px;
}

/*
 * News page
 ***************************************/

.news_post {
	margin: 50px auto 0 auto;
	padding: 0 0 10px 0;
	width: 900px;
	height: auto;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.news_information {
	display: inline-block;
	width: 900px;
	height: 30px;
	text-align: center;
	color: #e8ebff;
	line-height: 2em;
	border-top: 1px solid #444;
	background-color: #555;
}